section{
    display: flex;
    flex-direction: row;
}

.boxInput{
    min-width: 15rem;
    padding: 2rem;
    border: 1px solid grey;
}

.boxOutput{
    padding: 2rem;
    max-width: 20rem;
    border: 1px solid grey;
}