@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body{
    text-align: center;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    background-position-y: 0;
    padding: 2rem;
    font-family: 'Cinzel', serif;
    
}
.container{
    text-align: left;
    color: white;
    padding: 2rem;
    display: block;
    width: 21rem;
    margin: auto;
    margin-top: 7rem;
}
.boxOutput{
    margin-top: 4.5rem;
    text-align: center;
}
input{
    padding: 0.3rem 1rem;
    font-size: large;
    width: 14rem;
}
#inputCount, #inputTip{
   margin:5px 0;
}
#inputBill{
    width: 18rem;
    margin: 15px;
    margin-left: 0;
}
button {
    background-image: linear-gradient(#FFFFFF, #C1C5CC);
    font-size:20px;
    font-weight: 100;
    padding: 4px 8.5px;
    border: solid #000000 1px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    opacity: 0.5;
    margin-top: 0.5rem;
 }
 
button:hover {
    opacity: 1;
 }
 .minusCount, .minusTip{
     padding: 4px 9.5px;
 }
.check{
    opacity: 1;
    margin-top: 1px;
}
